$default-font: 'Raleway', sans-serif;

$color-white: #ffffff;
$color-blue-ribbon: #304FFE;
$color-wild-strawberry: #ff4081;

$background-color: #f3f3f3;
$default-font-color: #212121;
$default-font-active-color: $color-wild-strawberry;
$border-color: #dddddd;

@import url(https://fonts.googleapis.com/css?family=Raleway:400,700);
@import "../imports/ui/core/core";
@import "../imports/ui/core/components/header";
@import "../imports/ui/core/components/footer";
@import "../imports/ui/core/pages/mainPage";
@import "../imports/ui/resume/pages/timeline";
