$default-font: 'Raleway', sans-serif;
$background-color: #f3f3f3;
$default-font-color: #5d646c;

@import url(https://fonts.googleapis.com/css?family=Raleway:400,700);
@import "../imports/ui/core/core";
